.container {
    background-color: #121212;
    color: white;
    padding: 20px;
  }
  
  .title {
    color: white;
    font-size: 4rem;
    margin-bottom: 30px;
  }
  
  .pageButton {
    background-color: #f8c100; /* amarelo */
    color: #000000; /* preto */
    border: 2px solid #000000; 
  }
  
  .pageButton:hover {
    background-color: #000000; /* preto */
    color: #f8c100; /* amarelo */
    border: 2px solid #f8c100;
  }
  
  .pageButton:disabled {
    background-color: #999;
    color: white;
    cursor: not-allowed;
    border: none;
  }
  
  .modal-body {
    background-color: #121212;
  }
  
  .modal-title {
    color: #f8c100;
  }
  
  .modal-body p {
    color: black;
  }
  
  .modal-body img {
    border: 3px solid #f8c100;
    padding: 10px;
  }
  