/* Estilo geral do modal */
/* vai ser aplicado em :global(.modal-content) via contentClassName */
.modalContent {
    background-color: #151313 !important;
    border: none;
    border-radius: 12px;
    height: 15cm;
    padding: 20px;
    color: white;
  }
  

/* Cabeçalho do modal */
.modalHeader {
    background-color: 151313; /* Mesma cor do corpo */
    border-bottom: none; /* Remove a linha branca padrão */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-color: #000;
    height: 2cm;
}

/* Título do modal */
.modalTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; /* Cor branca para o título */
    text-align: center;
    margin-bottom: 20px;
    background: transparent; /* Remove fundo adicional */
    padding: 10px 0; /* Ajusta o padding */
    border-color: #000;
}

/* Imagem do filme no modal */
.modalPoster {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border-color: #000;
}

/* Descrição do filme */
.modalDescription {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
    border-color: #000;
}

/* Classificação do filme */
.modalRating {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffc107; /* Cor dourada */
    margin-bottom: 15px;
}

/* Botão de fechar o modal */
.modalCloseButton {
    background-color: #daaa20;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

/* Hover no botão de fechar */
.modalCloseButton:hover {
    background-color: #ffc107; /* Muda para amarelo claro ao passar o mouse */
    color: black;
}
.modalContent {
    animation: fadeIn 0.4s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .customCloseButton {
    background: #f8c100;
    border: 2px solid #000000; /* Agora tem borda visível */
    border-radius: 8px;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
    margin-left: auto;
    margin-top: -30px;
    padding: 1px 8px
  }
  
  .customCloseButton:hover {
    color: #f8c100;
    background: black;
    border: 2px solid #f8c100; /* Borda amarela ao passar o mouse */
  }
  

/* Ajuste do modal em telas menores */
@media (max-width: 768px) {
    .modalContent {
        padding: 15px;
    }
    .modalTitle {
        font-size: 1.5rem;
    }
}
