/* src/components/SeriesCard.module.css */

.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 600px; /* Altura fixa para os dois cards */
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Imagem do card - Ajustes para manter a proporção e alinhamento */
.cardImg {
  object-fit: cover;    /* Mantém a proporção e cobre a área */
  height: 310px;         /* Altura da imagem igual a do MovieCard */
  width: 100%;           /* Garante que a imagem ocupe toda a largura do card */
  border-bottom: 1px solid #000000;
}

/* Corpo do card */
.cardBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  background-color: #3b3636; /* Cor de fundo escura, igual ao MovieCard */
}

/* Título do card */
.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff; /* Cor branca */
}

/* Descrição do card */
.cardText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  color: #f8f8f8;
}

/* Rodapé do card */
.cardFooter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #292930;
  border-top: 1px solid #000000;
  height: 95px; /* Altura fixa para o footer */
}

/* Número de temporadas */
.seasons {
  font-size: 1rem;
  font-weight: bold;
  color: #f8f8f8;
  margin-bottom: 0.5rem;
}

/* Ações: botão e avaliação */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Botão de detalhes */
.detailButton {
  background-color: #615c49; /* Cor do botão */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detailButton:hover {
  background-color: rgb(125, 119, 97); /* Cor ao passar o mouse */
}

/* Badge de avaliação */
.ratingBadge {
  background-color: #ffc107; /* Amarelo para a avaliação */
  color: #212529;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
